body {
  background-image: url(./assets/15292736_5582176.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}
h1:hover{
   transform: scaleX(1.5);
}